#intro {
    width: 200px;
    margin: 100px auto 0;
}

.button-intro {
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
}

.button-intro .bottom {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 100%;
    height: 100%;
    background-color: #2acdc1;
    opacity: 0.1;
    display: block;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button-intro .top {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 24px 34px 22px 34px;
    border: 2px solid #0d6efd;
}

.button-intro-dark .top {
    border: 2px solid #fff;
}

.button-intro .top .label {
    font-weight: 600;
    color: #0d6efd;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button-intro-dark .top .label {
    color: #fff;
}

.button-intro:hover .bottom {
    left: 0;
    top: 0;
    background-color: #f3f3f3;
}

.button-intro:hover .top .label {
    color: #2acdc1;
}

.button-intro-border {
    position: absolute;
    background-color: #2acdc1;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.button-intro:hover .top .button-intro-border-left,.button-intro:hover .top .button-intro-border-right {
    height: calc(100% + 2px);
}

.button-intro:hover .top .button-intro-border-top,.button-intro:hover .top .button-intro-border-bottom {
    width: calc(100% + 2px);
}

.button-intro-border-left {
    left: -2px;
    bottom: -2px;
    width: 2px;
    height: 0;
}

.button-intro-border-top {
    left: -2px;
    top: -2px;
    width: 0;
    height: 2px;
}

.button-intro-border-right {
    right: -2px;
    top: -2px;
    width: 2px;
    height: 0;
}

.button-intro-border-bottom {
    right: -2px;
    bottom: -2px;
    width: 0;
    height: 2px;
}